/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 1140px) {
  /*=============== RESUABLE CSS ===============*/

  .title {
    font-size: 2.3rem;
  }
  /*=============== RESUABLE CSS END ===============*/
  .hero-section-heading {
    font-size: 3.5rem;
  }
  .hero-wrapper-heading {
    font-size: 3rem;
  }
  .hero-text .sub-heading {
    font-size: 2.4rem;
  }
  .trust-num {
    .trust-num {
      font-size: 2.5rem;
    }
  }
  .header-btn {
    margin: 2rem;
  }
  .testimonial-slider {
    padding-left: 0;
    padding-right: 0;
  }

  .testimonial-slider p {
    font-size: 15px;
  }

  .testimonial-slider .slide {
    padding: 10px !important;
    margin: 0;
  }

  /* ============== Loan Calculator CSS ======================== */

  .loan-calculator form {
    flex-direction: column;
    gap: 20px;
  }

  .loan-calculator .result {
    flex-direction: column;
    text-align: center;
  }
  /* ============== Loan Calculator CSS End ======================== */
}
@media screen and (max-width: 650px) {
  .borrowers .container {
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
  }

  .borrowers .title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .hero-section-template {
    height: 35vh;
  }
  .hero-section-template .hero-title {
    font-size: 3rem;
  }
  .logos-list,
  .single-logo .logo-img {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
  .loan-calculator {
    gap: 30px;
  }
  .loan-calculator .top {
    width: 100%;
  }
  .loan-calculator .result {
    width: 100%;
  }
  .logos-list,
  .single-logo .logo-img {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}
