/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 1140px) {
  .hero-section-heading {
    font-size: 3.5rem;
  }
  .hero-text .sub-heading {
    font-size: 2.4rem;
  }
  .trust-num {
    .trust-num {
      font-size: 2.5rem;
    }
  }
}
@media screen and (max-width: 340px) {
}
@media screen and (min-width: 1140px) {
}
