/*** Reset ***/

.border-red {
  border: 1px solid red;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 15px;
  overflow-x: hidden;
}

a,
.btn,
button {
  outline: none;
  transition: all 300ms ease-in-out 0s;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
}

a:hover,
a:focus .btn:hover,
.btn:focus,
button:hover,
button:focus {
  outline: none;
  text-decoration: none;
}

.btn {
  padding: 10px 35px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  text-align: center;
  border: 0;
}

.btn-danger {
  background-color: #9a0000;
  border-color: #9a0000;
}

.btn-primary {
  background-color: #2c88d1;
  border-color: #2c88d1;
}

.btn span,
.btn img,
.btn i {
  position: relative;
  z-index: 2;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50px;
  left: -5px;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 250px solid rgba(0, 0, 0, 0.25);
  z-index: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:after {
  content: "";
  position: absolute;
  top: 50px;
  left: -5px;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 250px solid rgba(0, 0, 0, 0.25);
  z-index: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:after {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.btn:hover:before,
.btn-main:focus:before,
.btn.active:before {
  opacity: 1;
  -webkit-transform: translate(-10px, -70px);
  transform: translate(-10px, -70px);
}

.btn:hover:after,
.btn-main:focus:after,
.btn.active:after {
  opacity: 1;
  -webkit-transform: translate(-40px, -50px);
  transform: translate(-40px, -50px);
}

.btn-default {
  background-color: #363435;
  color: #ffffff;
  border-color: #363435;
}

.btn-with-icon>img {
  margin-right: 10px;
}

.btn-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer {
  padding: 30px 0;
}

.text-white,
.text-white p {
  color: #ffffff;
}

.section {
  padding: 65px 0;
  position: relative;
}

.section-small {
  padding: 40px 0;
  position: relative;
}

.text-primary {
  color: #2c88d1 !important;
}

.text-dark {
  color: #15295e !important;
}

.text-justify {
  text-align: justify;
}

.bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.bg-light {
  background-color: #eaf3fa !important;
}

.bg-white {
  background-color: #ffffff;
}

.bg-primary {
  background-color: #2c88d1 !important;
}

.bg-dark {
  background-color: #f5f5f5 !important;
}

.no_padding {
  padding: 0 !important;
}

.no_margin {
  margin: 0;
}

.p-rel {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  margin-top: 0;
}

.line_clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line_clamp1 {
  -webkit-line-clamp: 1;
}

.line_clamp2 {
  -webkit-line-clamp: 2;
}

.line_clamp4 {
  -webkit-line-clamp: 4;
}

.fw {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
}

.container-fluid {
  width: 100%;
  max-width: 1280px;
}

p {
  font-size: 16px;
  line-height: 1.4;
}

ul {
  padding-left: 15px;
}

.radius-20 {
  border-radius: 20px;
}

.shadow {
  box-shadow: 5px 0 30px rgba(0, 0, 0, 0.2);
}

.main-title h2 {
  color: #15295e;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
}

.text_box h2 {
  font-size: 32px;
  font-weight: 700;
}

.reverse {
  flex-direction: row-reverse;
}

.btn-outline-primary {
  background-color: #ffffff;
}

/*** Slick ***/
.slick-slider {
  position: relative;
  display: block;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  background-color: rgba(30, 55, 109, 0.7);
  background-image: url(../images/icons/arrow-right.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  border: 0;
  text-indent: -999px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  z-index: 2;
  margin-top: -20px;
  border-radius: 4px 0 0 4px;
}

.slick-prev {
  left: 0px;
  transform: rotate(180deg);
}

.slick-next {
  right: 0px;
}

.slick-arrow.slick-disabled {
  opacity: 0.1;
  cursor: default;
}

.slick-slider {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
}

.slick-slider.slick-initialized {
  visibility: visible;
  opacity: 1;
}

ul.slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  width: 100%;
  text-align: center;
}

ul.slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 2px 5px;
}

ul.slick-dots li button {
  font-size: 0;
  border: 0;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #2c88d1;
  display: block;
}

ul.slick-dots li.slick-active button {
  font-size: 0;
  border: 0;
  width: 24px;
  height: 8px;
  border-radius: 8px;
  background-color: #2c88d1;
}

/*** Header ***/
.header {
  background-color: #fdfdfd;
  z-index: 99;
  position: relative;
}

.header .nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header .nav>li>a {
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 5px;
  text-decoration: none;
  letter-spacing: 0.5px;
  margin: 0 5px;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

.header .nav>li>a:hover,
.header .nav>li>a:focus,
.header .nav>li.active>a {
  /* background-color: #ffffff; */
  border-radius: 1px;
  color: #000000;
}

ul.menu .arrow-down {
  width: 8px;
  height: 8px;
  display: inline-block;
  position: relative;
  margin-left: 4px;
}

ul.menu .arrow-down:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  top: -3px;
  left: 0;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 1px 0 0;
  position: absolute;
  transform-origin: 50% 50%;
  transform: rotate(135deg);
}

.item-has-children>a,
.item-has-children {
  position: relative;
}

ul.menu>li:hover .arrow-down:before,
ul.menu>li.active .arrow-down:before {
  border-color: #000000;
}

ul.menu>li.item-has-children:hover>a:before {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

ul.submenu {
  background-color: #f5f5f5;
  min-width: 240px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  margin-left: -120px;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  transition: all 0.3s ease 0s;
  transform: scale(0);
  z-index: 1;
  list-style: none;
  padding: 0;
}

ul.submenu:before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -5px;
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
  transform: rotate(45deg);
  z-index: -1;
}

ul.submenu>li>a {
  position: relative;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: 400;
  color: #000000;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  border-bottom: 1px solid #222222;
  text-transform: uppercase;
}

ul.submenu>li:first-child {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  position: relative;
  /* background-color: #00aeef; */
}

ul.submenu>li:last-child {
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

ul.submenu>li:last-child a {
  border-bottom: 0;
}

ul.submenu>li.current>a,
ul.submenu>li>a:hover {
  background-color: #00aeef;
  color: #ffffff;
}

ul.menu>li.item-has-children:hover ul.submenu {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.top-header {
  padding: 5px 10px 7px;
  border-radius: 0 0 10px 10px;
  font-size: 14px;
}

.bottom-header {
  margin-top: 20px;
}

.devider {
  margin: 2px 8px;
}

.toggler {
  display: none;
}

.toggler {
  display: none;
  position: absolute;
  right: 20px;
  top: 100px;
  border: 0;
  background-color: transparent;
  height: 35px;
  padding: 0;
  order: 2;
  z-index: 99;
}

.toggler>span {
  display: block;
  width: 35px;
  height: 3px;
  background: #15295e;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.toggler>span::before,
.toggler>span::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 3px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background: #15295e;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
}

.toggler>span:before {
  top: 5px;
}

.toggler>span:after {
  bottom: 5px;
}

.toggler.is-active span {
  background: none;
  box-shadow: none;
}

.toggler.is-active span:before {
  -webkit-transform: translateY(11px) rotate(45deg);
  transform: translateY(11px) rotate(45deg);
}

.toggler.is-active span:after {
  -webkit-transform: translateY(-11px) rotate(-45deg);
  transform: translateY(-11px) rotate(-45deg);
}

/*** Home ***/
.banner-slider .slick-arrow {
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.banner-slider .slick-prev {
  left: 15px;
}

.banner-slider .slick-next {
  right: 15px;
}

.banner-slider:hover .slick-arrow {
  opacity: 1;
  transition: all 0.3s ease 0s;
}

.banner-description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.banner-description:after {
  content: "";
  background: #2c88d1;
  width: 15px;
  height: auto;
  position: absolute;
  top: 25px;
  bottom: 25px;
  right: 0;
  border-radius: 20px 0 0 20px;
}

.banner-description .text-box {
  width: 100%;
  max-width: 415px;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  padding: 20px 25px 20px 0;
  position: relative;
}

.banner-description .text-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0 40px 40px 0;
}

.banner-description .text-box {
  background-color: rgba(21, 41, 94, 0.8);
}

.banner-description .text-box:before {
  content: "";
  width: 5000px;
  height: 100%;
  left: -5000px;
  background-color: rgba(21, 41, 94, 0.8);
  position: absolute;
  top: 0;
}

.banner-description .text-box:before {
  background-color: rgba(21, 41, 94, 0.8);
}

.right-side-content.banner-description:after {
  right: initial;
  left: 0;
  border-radius: 0 20px 20px 0;
}

.right-side-content.banner-description .container {
  display: flex;
  justify-content: flex-end;
}

.right-side-content.banner-description .text-box {
  border-radius: 40px 0 0 40px;
  padding-left: 50px;
}

.right-side-content.banner-description .text-box:before {
  right: -5000px;
  left: initial;
}

.inner-page .banner-slider .slide>img {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  -o-object-fit: cover;
  max-height: 220px;
  width: 100%;
}

/*-- About --*/
.vp_text {
  padding: 50px 0;
}

.img_box {
  position: relative;
  z-index: 1;
}

.img_box:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 15px;
  width: 100%;
  height: 100%;
  background-color: #e0ebff;
  z-index: -1;
  border-radius: 4px;
}

.inner_page .banner_slider .slide {
  padding: 100px 0;
}

/*  */
.count {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  left: 50%;
  top: 145px;
  z-index: 1;
  font-weight: 700;
  background-color: #fff;
  line-height: 50px;
  font-size: 20px;
  color: #15295e;
  transform: translateX(-50%);
}

/* Testimonail */
.testimonial-slider {
  padding-left: 90px;
  padding-right: 90px;
  position: relative;
}

.testimonial-slider::before,
.testimonial-slider:after {
  content: "";
  width: 74px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: block;
  position: absolute;
  opacity: 0.4;
}

.testimonial-slider:before {
  left: 0;
  top: -60px;
  background-image: url(../images/icons/quote.svg);
}

.testimonial-slider:after {
  right: 0;
  bottom: 0;
  background-image: url(../images/icons/quote-2.svg);
}

.testimonial-slider p {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  min-height: 80px;
}

.testimonial-slider .slide {
  border: 1px solid #abcfed;
  padding: 50px !important;
  border-radius: 20px;
  background-color: #d5e7f6;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.table-lg th,
.table-lg td {
  padding: 15px;
}

/*** Services ***/
.service-slider .slick-list {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.service-slider .slide-item {
  margin-left: 10px;
  margin-right: 10px;
}

.service-block {
  border: 0;
  overflow: hidden;
  text-align: left;
}

.service-block * {
  transition: all 0.3s ease 0s;
}

.service-block img {
  min-height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  text-align: left;
}

.service-block .card-img-overlay {
  top: initial;
  padding: 25px;
  background: -moz-linear-gradient(top,
      rgba(21, 41, 94, 0.1) 0%,
      rgba(21, 41, 94, 1) 100%);
  background: -webkit-linear-gradient(top,
      rgba(21, 41, 94, 0.1) 0%,
      rgba(21, 41, 94, 1) 100%);
  background: linear-gradient(to bottom,
      rgba(21, 41, 94, 0.1) 0%,
      rgba(21, 41, 94, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a15295e', endColorstr='#15295e', GradientType=0);
}

.service-block:hover .card-img-overlay {
  top: 0;
  align-items: center;
}

.service-block:hover img {
  transform: scale(1.1);
}

.service-block:hover .card-img-overlay,
.service-block:focus .card-img-overlay {
  background: -moz-linear-gradient(top,
      rgba(21, 41, 94, 1) 0%,
      rgba(21, 41, 94, 0.1) 100%);
  background: -webkit-linear-gradient(top,
      rgba(21, 41, 94, 1) 0%,
      rgba(21, 41, 94, 0.1) 100%);
  background: linear-gradient(to bottom,
      rgba(21, 41, 94, 1) 0%,
      rgba(21, 41, 94, 0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#15295e', endColorstr='#1a15295e', GradientType=0);
}

.service-block .card-img-overlay .card-text {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: -400px;
}

.service-block .card-img-overlay .btn {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: -400px;
  left: 25px;
}

.service-block:hover .card-img-overlay .card-text {
  opacity: 1;
  visibility: visible;
  position: relative;
  bottom: 0;
}

.service-block:hover .card-img-overlay .card-title {
  margin-bottom: 20px;
}

.service-block:hover .card-img-overlay .btn {
  opacity: 1;
  visibility: visible;
  position: absolute;
  bottom: 25px;
}

.services-section2 .bg-primary img.bg-body {
  min-height: 175px;
}

/*  */
.overlay {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.devider {
  opacity: 0.05;
}

/* Our Journey */
/* .timeline-slider .slick-track{position: relative;padding-bottom: 60px;margin-bottom: 30px;}
.timeline-slider .slick-track:before{content: ""; position: absolute; top: 100%;width: 100%; height: 10px;border-radius: 20px; border: 1px solid #dddddd;background-color: #fff;}
.timeline-slider .single{background-color: #ffffff;box-shadow: 1px 1px 3px rgba(0,0,0,.1);position: relative;margin: 20px; padding:70px 10px 60px; white-space: normal;border-radius: 4px;}
.timeline-slider .single:before{content: ""; width: 1px;height: 80px;bottom: -80px;background-color: #dddddd;left: 50%;margin-left: -0.5px;position: absolute;}
.timeline-slider .single:after{content: ""; width: 20px;height: 20px;bottom: -96px;left: 50%;margin-left: -10px;position: absolute;border-radius: 100%; background: rgb(241,241,241);background: -moz-radial-gradient(circle, rgba(241,241,241,1) 0%, rgba(159,159,159,1) 100%);background: -webkit-radial-gradient(circle, rgba(241,241,241,1) 0%, rgba(159,159,159,1) 100%);background: radial-gradient(circle, rgba(241,241,241,1) 0%, rgba(159,159,159,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1f1f1",endColorstr="#9f9f9f",GradientType=1); }

.main-tit{position:absolute; left: 0; top: 15px;padding: 12px 15px;font-size:18px;width: 80%;border-radius: 0 30px 30px 0;color: #ffffff;text-align: left;margin: 0; background: rgb(241,241,241); box-shadow: 2px 2px 5px rgba(0,0,0,0.1);background: -moz-linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(159,159,159,1) 100%);background: -webkit-linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(159,159,159,1) 100%); background: linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(159,159,159,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1f1f1",endColorstr="#9f9f9f",GradientType=1); }
.main-tit:before{content: ""; position: absolute; left: -18px; top: 0; width: 18px; height: 60px;border-radius: 20px 0 0 10px;background-color: rgba(241,241,241,1)}
.main-tit:after{content: ""; position: absolute; left: -18px; top: 100%; width: 18px; height: 22px;border-radius: 30px 0 0 30px;background-color:rgba(159,159,159,1);}

.single h5{margin: 0 0 10px;text-transform: uppercase;}
.single p{margin: 0;font-size: 14px;line-height: 1.4;}

.red, .single.red-dot:after{background: rgb(255,100,100);background: -moz-linear-gradient(90deg, rgba(255,100,100,1) 0%, rgba(143,0,0,1) 100%);background: -webkit-linear-gradient(90deg, rgba(255,100,100,1) 0%, rgba(143,0,0,1) 100%);background: linear-gradient(90deg, rgba(255,100,100,1) 0%, rgba(143,0,0,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6464",endColorstr="#8f0000",GradientType=1);}
.red:before{background-color: rgba(255,100,100,1);}  
.red:after{background-color: rgba(143,0,0,1);}
.bottom-corner{width: 80px;position:absolute; right: -2px; bottom: -2px;height: 80px;clip-path: polygon(100% 0%, 0% 100%, 100% 100%);border-radius: 4px;}

.blue, .single.blue-dot:after{background: rgb(100,255,253); background: -moz-linear-gradient(90deg, rgba(100,255,253,1) 0%, rgba(3,201,186,1) 100%); background: -webkit-linear-gradient(90deg, rgba(100,255,253,1) 0%, rgba(3,201,186,1) 100%); background: linear-gradient(90deg, rgba(100,255,253,1) 0%, rgba(3,201,186,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64fffd",endColorstr="#03c9ba",GradientType=1); }
.blue:before{background-color: rgba(100,255,253,1);}  
.blue:after{background-color: rgba(3,201,186,1);}

.yellow, .single.yellow-dot:after{ background: rgb(255,243,100);background: -moz-linear-gradient(90deg, rgba(255,243,100,1) 0%, rgba(245,170,5,1) 100%);background: -webkit-linear-gradient(90deg, rgba(255,243,100,1) 0%, rgba(245,170,5,1) 100%); background: linear-gradient(90deg, rgba(255,243,100,1) 0%, rgba(245,170,5,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff364",endColorstr="#f5aa05",GradientType=1);}
.yellow:before{background-color: rgb(255,243,100);}  
.yellow:after{background-color: rgba(245,170,5,1);}

.royalBlue, .single.royalBlue-dot:after{ background: rgb(150,157,255);background: -moz-linear-gradient(90deg, rgba(150,157,255,1) 0%, rgba(7,0,150,1) 100%);background: -webkit-linear-gradient(90deg, rgba(150,157,255,1) 0%, rgba(7,0,150,1) 100%);background: linear-gradient(90deg, rgba(150,157,255,1) 0%, rgba(7,0,150,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#969dff",endColorstr="#070096",GradientType=1);}
.royalBlue:before{background-color: rgb(150,157,255);}  
.royalBlue:after{background-color: rgba(7,0,150,1);}

.green, .single.green-dot:after{background: rgb(173,255,150);background: -moz-linear-gradient(90deg, rgba(173,255,150,1) 0%, rgba(18,150,0,1) 100%);background: -webkit-linear-gradient(90deg, rgba(173,255,150,1) 0%, rgba(18,150,0,1) 100%);background: linear-gradient(90deg, rgba(173,255,150,1) 0%, rgba(18,150,0,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#adff96",endColorstr="#129600",GradientType=1);}
.green:before{background-color: rgba(173,255,150,1);}  
.green:after{background-color: rgba(18,150,0,1);} */

/* .wrap{flex-flow: wrap;}
.reverse{flex-direction: row-reverse;}
.scrolls-ids{width: 100%;max-width: 800px;margin-left: auto; margin-right: auto; padding-top: 60px;}
.scrolls-ids .image{width: 100%;max-width: 350px;position: relative;}
.scrolls-ids .image img{border-radius: 0 30px 30px 30px;box-shadow: 0 0 20px rgba(0,0,0,0.2);}
.scrolls-ids .text{width: 100%; max-width: 380px;margin-right: 40px;}
.scrolls-ids .reverse .text{width: 100%; max-width: 380px;margin-right: 0px;margin-left: 40px;}
.scrolls-ids .text p{font-size: 18px;font-weight: 400;}
.step-count{width: 60px;height: 60px;border-radius: 100%;background-color: #2C35A1;color: #ffffff; position: absolute;text-align: center;line-height: 60px;font-weight: 700;display: flex;justify-content: center;align-items: center;}
.count-left{left: 0; bottom: -20px;}
.count-right{right: 0; top: -30px;}
.step-jointer{width: 100%;}
.step-jointer img{margin-left: auto;margin-right: auto; margin-top: -60px;margin-bottom: -60px;display: block;max-width: 100%;} */
/* Team */
.team-content {
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
  right: 10px;
}

.team-content:hover {
  border: 1px solid #fff;
}

.team-card {
  height: 350px;
  width: 280px;
  background: #ffffff;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  box-shadow: 0 70px 63px -60px #15295e;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}

.team-card img {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
}

.team-card:hover img {
  transform: scale(1.2);
}

.team-card:hover h3 {
  opacity: 1;
}

.team-card:hover .fa {
  opacity: 1;
}

.team-card h3 {
  color: #fff;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  text-shadow: 0 5px 15px #15295e;
}

.statistics-section .bg-img {
  opacity: 0.2;
  background-position: top;
}

.statistics-section .bg-img:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/overlay-pattern.png);
}

.statistics {
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 40px;
}

.stats {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  justify-content: center;
  position: relative;
}

.stats:before {
  content: "";
  position: absolute;
  left: 100%;
  width: 1px;
  height: 70%;
  top: 15%;
  background-color: rgba(255, 255, 255, 0.1);
}

.stats:last-child:before {
  display: none;
}

.stats .text-warning {
  font-size: 36px;
}

.stats h5 {
  font-size: 16px;
  width: 100%;
  text-align: center;
}

/* Career */
.jobCard:hover .overlay-link {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}

.overlay-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-weight: 700;
  transition: all 0.3s ease 0s;
}

.info {
  font-size: 12px;
}

.timeline-date {
  margin-bottom: 30px;
}

.timeline-date .main-tit {
  padding: 8px 10px;
  text-align: center;
  background-color: #00aeef;
  margin-bottom: 0;
  cursor: pointer;
}

.timeline-date .slick-current .main-tit {
  background-color: #15295e;
  color: #ffffff;
}

.timline-item .icon {
  position: absolute;
  left: 20px;
  top: 20px;
}

.timeline-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.timeline-list li {
  width: 50%;
  position: relative;
  padding-right: 100px;
  margin-top: 120px;
}

.timeline-list li:nth-of-type(2n + 2) {
  margin-top: 0px;
  padding-left: 100px;
  padding-right: 0px;
}

.timeline-list li:before {
  content: "";
  position: absolute;
  top: 0;
  background-image: url(../images/icons/arrow-pointer.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 68px;
  height: 99px;
  right: 2px;
  z-index: 1;
}

.timeline-list li:nth-of-type(2n + 2):before {
  transform: rotateY(180deg);
  left: -12px;
}

.timeline-list:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 200px;
  height: 40px;
  border-radius: 400px 400px 0 0;
  background-color: #2c88d1;
  margin-left: -100px;
}

.timeline-list:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  top: 30px;
  width: 10px;
  background-color: #2c88d1;
  margin-left: -5px;
}

/*  */
.box {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  background-color: #15295e;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  color: #ffffff;
}

.box:after {
  content: "";
  width: 30%;
  height: 5px;
  background-color: #2c88d1;
  position: absolute;
  top: 50%;
}

.box:before {
  content: "";
  position: absolute;
  left: -10px;
  top: -10px;
  bottom: -10px;
  right: -10px;
  border-top: 4px solid #2c88d1;
  border-left: 4px solid #3c98e1;
  border-right: 4px solid #95d0ff;
  border-bottom: 4px solid #96c5ea;
  border-radius: 100%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.box-big {
  width: 220px;
  height: 220px;
  border-radius: 100%;
  background-color: #2c88d1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: #ffffff;
}

.box-big:before {
  content: "";
  position: absolute;
  left: -10px;
  top: -10px;
  bottom: -10px;
  right: -10px;
  border: 4px solid #2c88d1;
  border-radius: 100%;
}

.wrap {
  flex-flow: wrap;
}

.box-1 {
  order: 2;
  z-index: 1;
}

.box-2 {
  order: 1;
}

.box-2:after {
  left: calc(100% + 6px);
}

.box-3 {
  order: 3;
}

.box-3:after {
  right: calc(100% + 6px);
}

.box-3:before {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* Loan */
.loan-circle .circle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.loan-circle .circle .cir-text {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfd;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -1px;
  text-transform: uppercase;
  white-space: normal;
}

ul.time-line {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  position: relative;
  align-items: flex-start;
}

ul.time-line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  border-top: 1px dashed #041031;
}

ul.time-line li {
  position: relative;
  width: 20%;
  padding: 30px 15px 0;
}

ul.time-line li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 50px;
  border-left: 1px dashed #041031;
  margin-left: -0.5px;
}

ul.time-line li .dot {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: block;
  margin: 0 auto 10px;
  position: relative;
}

ul.time-line li h4 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

ul.time-line li:nth-of-type(2n + 2) {
  padding-top: 50px;
}

ul.time-line li p {
  font-size: 12px;
}

.time-line-sec {
  margin-top: -130px;
}

/*  */
.pro-item {
  background-color: #15295e;
  border-radius: 100px;
  text-align: center;
  width: 200px;
  margin: 0 auto 10px;
  padding-bottom: 50px;
  padding-top: 20px;
}

.pro-item .icon {
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

.borrowers {
  background-color: #f2f7fe;
}

.logos-list {
  max-width: 900px;
  margin-left: 15px;
}

.single-logo .logo-img {
  background-color: #ffffff;
  padding: 10px;
  min-height: 80px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-logo .logo-img img {
  max-height: 60px;
}

.logos-list.clients-slider .slick-list {
  padding: 0 !important;
}

.privacy-section ul li,
.privacy-section ol li {
  margin-bottom: 10px;
}

.latin-list {
  padding-left: 24px;
}

/*** Footer ***/
.footer {
  padding: 30px 0 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer .overlay {
  opacity: 0.7;
}

.footer {
  position: relative;
  width: 100%;
}

.footer ul,
.footer ol {
  list-style: none;
  padding-left: 0;
  line-height: 1.6;
}

.footer a {
  text-decoration: none;
  color: #f8f9fa;
}

.footer a:hover {
  color: #00aeef !important;
}

.footer-main {
  padding: 40px 0;
  position: relative;
}

.footer-company-info .logo {
  margin-bottom: 20px;
  height: auto;
}

.footer-social-links {
  display: flex;
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  transition: all 0.2s;
}

.footer-social-links li a {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  color: #ffffff;
}

.footer-social-links li a:hover {
  background-color: #00aeef;
  color: #ffffff !important;
}

.footer-menu li {
  margin-bottom: 7px;
  margin-right: 15px;
}

.footer-menu>li>a {
  font-weight: 500;
  position: relative;
}

.footer-contacts {
  margin-top: 20px;
  text-align: left;
}

.footer-contacts li {
  margin-bottom: 1rem;
  position: relative;
  padding-left: 30px;
  text-align: left;
}

.footer-contacts li i {
  position: absolute;
  left: 0;
  top: 5px;
}

.footer-item-heading {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 400;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  /* padding-top: 20px; */
  position: relative;
}

.terms-conditions {
  text-align: right;
}

.scroll-top {
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 52px;
  right: 80px;
  z-index: 9999;
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: 8px;
  display: none;
}

.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: -webkit-radial-gradient(center,
      ellipse,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0) 80%);
}

.policy-cards .card-body {
  padding: 30px;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

.policy-cards .card-body .list-group-item {
  font-size: 18px;
}

/* Gallery */
.gallery-section .single-img {
  width: 100%;
  min-height: 350px;
  border-radius: 10px;
  margin: 15px 0;
}

.gallery-section .single-img .content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -110%;
  transition: all 0.3s ease 0s;
  padding: 30px 15px 15px;
  background: rgb(9, 9, 121);
  background: -moz-linear-gradient(180deg,
      rgba(9, 9, 121, 0) 0%,
      rgba(9, 9, 121, 0.7399159492898721) 100%);
  background: -webkit-linear-gradient(180deg,
      rgba(9, 9, 121, 0) 0%,
      rgba(9, 9, 121, 0.7399159492898721) 100%);
  background: linear-gradient(180deg,
      rgba(9, 9, 121, 0) 0%,
      rgba(9, 9, 121, 0.7399159492898721) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#090979", endColorstr="#090979", GradientType=1);
}

.gallery-section .grid-item:hover .single-img .content,
.gallery-section .grid-item:focus .single-img .content {
  bottom: 0;
}

/* our changes start */
.hero-section-home {
  background: url("/images/Home\ page.jpg") bottom center/cover;
  width: 100%;
  height: 100vh;
}

.hero-section-partnership-model {
  background: url("/images/Partnership\ model.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.hero-section-property-model {
  background: url("/images/Home\ Loan.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.hero-section-msme-model {
  background: url("/images/Micro\ Enterprise.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  width: 100%;
}

.hero-section-business-loan {
  background: url("/images/Business\ loan.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  width: 100%;
}

.hero-section-vehicle {
  background: url("/images/Car\ Loan.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

.color-black {
  color: #000 !important;
}

.header-transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 10000;
  border: none !important;
  transition: all 0.2s ease-in-out;
  height: auto;
  background-color: transparent;
}

.active-header {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.active-header a {
  color: #000 !important;
}

.hero-section-image {
  background-image: linear-gradient(45deg, #3687c589, rgba(32, 32, 32, 0.196)),
    url("/images/hero-image.jpg");
  background-position: top;
  height: 100vh;
  background-size: cover;
}

.trust-num {
  color: #3686c5;
  font-weight: 500;
  margin-top: 0.25rem;
  line-height: 2rem;
  font-size: 2.5rem;
}

.trust-business {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 0.25rem;
}

/* .icon-box-container{
  display: grid;
  grid-template-columns:3 ;
  border: 1px solid red;
} */
.hero-wrapper {
  background-color: #3683c5;
  width: 100%;
  padding: 60px;
  /* margin-top: 30px; */
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon-box p {
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 2rem;
}

.icon-box img {
  background-color: white;
  padding: 15px;
  border-radius: 0.5rem;
}

.col-grid {
  margin-top: 50px;
  padding: 50px;
  background-color: #f5f5f5;
  width: 100%;
}

.col-grid h2 {
  text-align: center;
  font-weight: 400;
}

.eligibility-img {
  background: url("/images/man.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 350px;
  border-radius: 20px;
}

.eligibility-img-cont {
  gap: 20px;
  flex-wrap: nowrap !important;
}

/* Loan calculator css start */
.loan-calculator {

  margin: 24px auto;
  background: #fff;
  box-shadow: 0 12px 50px -11px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: #14213d;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.loan-calculator,
.loan-calculator * {
  box-sizing: border-box;
}

.loan-calculator .top {
  background: #3685c5;
  color: #fff;
  padding: 32px;
  border-radius: 8px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loan-calculator .top h2 {
  margin-top: 0;
  text-align: center;
  font-weight: 900;
}

.loan-calculator form {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.loan-calculator .title {
  margin-bottom: 16px;
}

.loan-calculator form input {
  font-size: 20px;
  padding: 8px 24px;
  width: 100%;
}

.loan-calculator .result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.loan-calculator .result .left {
  width: 100%;
  padding: 8px 32px;
}

.loan-calculator .left h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.loan-calculator .result .value {
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(20, 33, 61, 0.2);
}

.loan-calculator .result .value::before {
  content: "₹";
  font-size: 24px;
  font-weight: 400;
  margin-right: 6px;
  opacity: 0.4;
}

.loan-calculator .calculate-btn {
  background: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
  margin: 24px 0;
}

.hero-trust-p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.loan-calculator .right {
  width: 40%;
}



.hero-section-heading {
  line-height: 4rem;
  font-weight: 700;
  font-size: 3.75rem;
}

.eligibility-div1 {
  gap: 20px !important;
}

.eligibility-div2 {
  border: 1px solid #b8b1b1;
  border-radius: 20px;
}

.eligibility-para {
  color: #3686c5;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 1.75rem;
}

.eligibility-heading {
  font-size: 3.25rem;
  line-height: 2rem;
  font-weight: 700;
  line-height: 4rem;
}

.testimonails-section {
  background-color: white !important;
}

.hero-wrapper-heading {
  color: white;
  line-height: 3.4rem;
  font-weight: 600;
  font-size: 2.5rem;
}

.quick-link {
  gap: 20px;
}

@media (max-width: 650px) {
  .loan-calculator {
    width: 90%;
    max-width: 500px;
  }

  .loan-calculator form {
    flex-direction: column;
    gap: 20px;
  }

  .loan-calculator .result {
    flex-direction: column;
    text-align: center;
  }
}

/* Loan calculator css end */

/*** Responive ***/
@media only screen and (max-width: 767px) {
  .header .nav {
    display: none;
  }

  .toggler {
    display: block;
  }

  .banner_slider h2 {
    font-size: 24px;
  }

  .btn {
    padding: 10px 25px;
  }

  p.lead {
    font-size: 15px;
  }

  .img_box {
    padding-left: 15px;
    margin-bottom: 30px;
  }

  .img_box:before {
    left: 0px;
  }

  .footer-list {
    font-size: 15px;
  }

  .footer-list li {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: left;
  }

  .footer-list li:last-child {
    border-bottom: 0;
  }

  .header .col-md-2.text-md-end.text-center {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
  }

  .footer-main .col-4 {
    width: 100%;
  }

  .section {
    padding: 30px 0;
  }

  .banner-slider .slick-slide img {
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }

  .banner-description .text-box {
    background-color: transparent;
  }

  .banner-description .text-box:before {
    display: none;
  }

  .testimonial-slider {
    padding-left: 0;
    padding-right: 0;
  }

  .testimonial-slider p {
    font-size: 15px;
  }

  .testimonial-slider .slide {
    padding: 10px !important;
    margin: 0;
  }

  .subs-form .form-group {
    flex-flow: wrap;
  }

  .subs-form .form-group .form-floating {
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 20px;
  }

  .teams-section .p-4 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .teams-section .text_box {
    text-align: center;
  }

  .header-logo {
    order: 3;
  }

  .right-nav {
    order: 1;
    width: 100%;

  }

  /* ul.submenu{position: static;margin-left: 0;opacity: 1;visibility: visible;transform: scale(1);} */
  .header .nav>li>a {
    display: block;
  }

  .bottom-header {
    max-width: 380px;
  }

  .banner-description .text-box {
    text-align: center;
  }

  .banner-description .text-box h2 {
    width: 100%;
  }

  .btn_group {
    width: 100%;
  }

  .banner-slider .slick-arrow {
    width: 30px;
    height: 30px;
  }

  .banner-slider .slick-next {
    right: 0;
  }

  .banner-slider .slick-prev {
    left: 0;
  }

  .right-side-content.banner-description .text-box,
  .banner-description .text-box {
    padding: 30px;
  }

  ul.slick-dots {
    bottom: 0;
  }

  .copyright,
  .terms-conditions {
    text-align: center;
  }

  .scroll-top {
    right: 20px;
  }

  .timeline-list {
    padding-bottom: 0;
  }

  .timeline-list:after {
    left: 0;
    margin-left: 3px;
    width: 6px;
    top: 0;
  }

  .timeline-list:before {
    width: 40px;
    margin-left: 0px;
    left: 0;
    display: none;
  }

  .timeline-list li:nth-of-type(1) {
    margin-top: 120px;
  }

  .timeline-list li {
    width: 100%;
    padding-right: 0;
    padding-left: 50px;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .timeline-list li:nth-of-type(2n + 2) {
    padding-left: 50px;
  }

  .timeline-list li:before {
    width: 40px;
    height: 58px;
    transform: rotateY(180deg);
    left: -12px;
    right: initial;
  }

  .timline-item .icon {
    width: 100%;
    text-align: center;
  }

  .borrowers .container {
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
  }

  .borrowers .title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .logos-list,
  .single-logo .logo-img {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  .time-line-sec {
    margin-top: 0;
  }

  .loan-circle .circle {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
  }

  .loan-circle .circle .cir-text {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
  }

  ul.time-line li {
    width: 100%;
    padding: 10px 10px 10px 30px;
    text-align: left;
  }

  ul.time-line li:nth-of-type(2n + 2) {
    padding-top: 10px;
    padding-left: 50px;
  }

  ul.time-line:before {
    left: 0;
    right: initial;
    bottom: 22px;
    top: 22px;
    border-top: 0;
    border-left: 1px dashed #041031;
  }

  ul.time-line li:before {
    width: 50px;
    height: 1px;
    border-left: 0;
    border-top: 1px dashed #041031;
    left: 0;
    top: 22px;
  }

  ul.time-line li .dot {
    margin-left: 0;
  }

  .hero-section-home {
    height: 70vh;
  }

  .hero-section-partnership-model {
    height: 70vh;
  }

  .hero-section-business-loan {
    height: 70vh;
  }

  .hero-section-property-model {
    height: 70vh;
  }

  .hero-section-msme-model {
    height: 70vh;
  }

  .hero-section-vehicle {
    height: 70vh;
  }

  .hero-section-image {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .infographic.d-flex {
    justify-content: center !important;
  }

  .box {
    margin: 60px auto;
  }

  .box:before {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .box:after {
    width: 5px;
    height: 30%;
    background-color: #2c88d1;
    top: calc(100% + 6px);
  }

  .box-2:after {
    left: calc(50% - 3px);
  }

  .box-3:after {
    right: calc(50% - 3px);
    top: calc(-30% - 6px);
  }

  .box-3::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .hero-section-home {
    height: 35vh;
  }

  .hero-section-business-loan {
    height: 35vh;
  }

  .hero-section-msme-model {
    height: 35vh;
  }

  .hero-section-partnership-model {
    height: 35vh;
  }

  .hero-section-property-model {
    height: 35vh;
  }

  .hero-section-vehicle {
    height: 35vh;
  }

  .hero-section-heading {
    line-height: 2.75rem;
    font-weight: 500;
    font-size: 2.75rem;
  }
}

@media only screen and (max-width: 991px){
  .hero-section-image{
    display: none;
  }
}