/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;900&display=swap");
html {
  font-size: 62.5%;
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  --header-height: 5.6rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(0, 0%, 0%);
  --black-color-light: hsl(220, 24%, 15%);
  --gray-color-lighten: hsl(0, 0%, 94%);
  --white-color: #ffffff;
  --blue-color: #2c88d1;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Mulish", sans-serif;
  /* --normal-font-size: 0.938rem; */
  --normal-font-size: 1.4rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1.3rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.boxed {
  max-width: 1140px;
  margin-inline: 2.4rem;
}

